.square {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-light {
  background-color: var(--carpenter-core-color-light-primary);
}

.square-dark {
  background-color: var(--carpenter-core-color-dark-primary);
}