.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main-container-light {
  background-color: var(--carpenter-core-color-light-baseplate);
  color: var(--carpenter-core-color-light-on-primary);
}

.main-container-dark {
  background-color: var(--carpenter-core-color-dark-baseplate);
  color: var(--carpenter-core-color-dark-on-primary)
}